
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ExtronWebLayout.cshtml";
    @model ExtronWeb.Models.Article.ArticleEntity
}

<div class="container">
    @if (@Model.NoTitle == 0)
        {<h2>@Model.Title</h2>}

    @Html.Raw(@Model.Body)
</div>

